/* NEWS */

.newscontainer1 {
	font-family: Bahnschrift;
	width:80%;
	height: 350px;
	border-style: groove;
	float: left;
	background: gray;
	color: white;
	
}

.newstitle1 {
	font-size: 40px;
	font-weight: bold;
	margin-left: 15px;
}

.newsbody1 {
	font-size: 15px;
	margin-left: 15px;
}
.newscontainer2 {
	font-family: Bahnschrift;
	width:20%;
	height: 350px;
	border-style: groove;
	display: inline-block;
	position: relative;
	float: right;
	background: gray;
	color: white;
	
}
